html,
body {
  position: relative;
  background: #1d1f21;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h1,
h2 {
  color: #ff6a38;
  font-weight: 100;
}

@media (max-width: 640px) {
  h1 {
    font-size: 2em;
    justify-content: center;
  }
}

p {
  color: white;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: #41a2ce;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #ab81ea;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.card {
  padding: 0.5em;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto auto;
  max-width: 40em;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
