<script lang="ts">
  import "./global.css";
</script>

<main>
  <h1>Brandon Presley</h1>
  <div class="card">
    <p>Welcome to my homepage! I'm a programmer.</p>
  </div>

  <h2>Projects</h2>
  <div class="card">
    <a
      href="https://www.fiverr.com/brandonp2412/craft-the-perfect-website"
      target="_blank"
    >
      <img src="fiverr-icon.svg" alt="House" />
      Fiverr
    </a>
    <p>Hire me to create a website for you.</p>
  </div>

  <div class="card">
    <a href="https://gitea.presley.nz/brandon.presley/Massive" target="_blank">
      <img src="massive.svg" alt="Massive" />
      Massive
    </a>
    <p>Track your gym progress, completely offline.</p>
  </div>

  <div class="card">
    <a href="https://mrbarber.co.nz" target="_blank">
      <img src="brush.svg" alt="Brush" />
      Mr barber
    </a>
    <p>The best barber training in New Zealand</p>
  </div>

  <div class="card">
    <a
      href="https://gitlab.com/brandonp2412/brandon.presley.nz"
      target="_blank"
    >
      <img src="boombox.svg" alt="House" />
      brandon.presley.nz
    </a>
    <p>The source code for this website.</p>
  </div>

  <h2>Social</h2>
  <div class="card">
    <a href="mailto:brandon@presley.nz" target="_blank">
      <img src="envelope.svg" alt="Envelope" />
      Email
    </a>
    <p>For queries and jobs.</p>
  </div>

  <div class="card">
    <a href="https://gitlab.com/brandonp2412" target="_blank">
      <img src="gitlab.svg" alt="Gitlab" />
      GitLab
    </a>
    <p>All of my most current work.</p>
  </div>

  <div class="card">
    <a href="https://github.com/brandonp2412" target="_blank">
      <img src="github.svg" alt="Github" />
      GitHub
    </a>
    <p>My legacy projects from university</p>
  </div>
</main>

<style>
  .card {
    margin: auto;
    justify-content: space-between;
    gap: 1em;
    background: #1d1f21;
    display: grid;
    border-radius: 4px;
  }

  h2 {
    margin: 0;
  }

  h1 {
    margin: 0;
    display: grid;
    align-items: center;
    gap: 0.5em;
  }

  a {
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 0.45em;
    width: 16px;
  }

  main {
    display: grid;
    justify-content: center;
    text-align: center;
    max-width: 240px;
    margin: 0 auto;
    gap: 1em;
  }

  p {
    margin: 0;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
